<div id="home-content">
    <h1>Hola! Mi nombre es Gabriel Voica y soy un desarrollador web</h1>

    <div class="text-container">
        <p>Tengo experiencias es diversas tecnologias y disfruto aprendiendo cada dia más!</p>

        <p>Si has entrado para informarte sobre mis proyectos, o para ver si soy un buen candidato para
            un puesto laboral puedes echar un vistazo a mi pestaña de proyectos.
        </p>
    
        <p>
            Si simplemente has entrado a mi portfolio para echar un vistazo bienvenido! 
        </p>
    
        <p>
            Puedes hacer girar la ruleta y probar un mini proyecto propio para entretenerte!
        </p>
    
        <p>En cualquier caso gracias por pasarte! Es un honor tenerte de invitado/a.</p>

        {{selectedGame}}

    </div>

    <app-spin-wheel (gameEmitter)="setGame($event)"></app-spin-wheel>

    <app-games></app-games>
   
</div>