:host{
    background: none;
    opacity: 0;
    transition: 1s opacity;
    animation: appear 1s forwards;
    height: 95%;
    color: white;
    width: 90%;
    padding: 20px;
    background: var(--main-color);

    .text-container{
        width: 100%;
        max-width: 600px;
    }
}

@keyframes appear {
    100%{
        opacity: 1;
    }
}
