<div id="mainbox" class="mainbox">
    <div class="arrow"></div>
    <div id="box" class="box">
       
      <div class="box1">
        <span class="span1"><b>Search</b></span>
        <span class="span2"><b>Search</b></span>
        <span class="span3"><b>Pong</b></span>
        <span class="span4"><b>Pong</b></span>
      </div>
      <div class="box2">
        <span class="span1"><b>Bitcolor</b></span>
        <span class="span2"><b>Bitcolor</b></span>
        <span class="span3"><b>Spacerush</b></span>
        <span class="span4"><b>Spacerush</b></span>
      </div>
    </div> 
    <button class="spin" (click)="rotate()">SPIN</button>
  
  </div>
