<div id="mainbox" class="mainbox">
    <div #arrow class="arrow"></div>
    <div id="box" class="box">

      <div class="box1">
        <span  class="span1 option"><b>Spacerush</b></span>
        <span  class="span2 option"><b>Pong</b></span>
        <span  class="span3 option"><b>Pong</b></span>
        <span  class="span4 option"><b>Spacerush</b></span>
      </div>
      <div class="box2">
        <span  class="span1 option"><b>Search</b></span>
        <span  class="span2 option"><b>Bitcolor</b></span>
        <span  class="span3 option"><b>Bitcolor</b></span>
        <span  class="span4 option"><b>Search</b></span>
      </div>
    </div>
    <button class="spin" (click)="rotate()">SPIN</button>

  </div>
