<div id="mainbox" class="mainbox">
    <div #arrow class="arrow"></div>
    <div id="box" class="box">

      <div class="box1">
        <span style="background: linear-gradient(0deg, #530b00, #880000);" class="span1 option"><b>Spacerush</b></span>
        <span style="background: linear-gradient(0deg, rgb(138, 0, 0), #770000);" class="span2 option"><b>Pong</b></span>
        <span style="background: linear-gradient(0deg, rgb(124, 0, 0), #6c0000);" class="span3 option"><b>Pong</b></span>
        <span style="background: linear-gradient(0deg, rgb(135, 0, 0), #770303);" class="span4 option"><b>Spacerush</b></span>
      </div>
      <div class="box2">
        <span style="background: linear-gradient(0deg, rgb(142, 0, 0), #740303);" class="span1 option"><b>Search</b></span>
        <span style="background: linear-gradient(0deg, rgb(151, 0, 0), #740101);" class="span2 option"><b>Bitcolor</b></span>
        <span style="background: linear-gradient(0deg, rgb(143, 0, 0), #6f0000);" class="span3 option"><b>Bitcolor</b></span>
        <span style="background: linear-gradient(0deg, rgb(105, 0, 0), #520202);" class="span4 option"><b>Search</b></span>
      </div>
    </div>
    <button class="spin" (click)="rotate()">SPIN</button>

  </div>
