<div class="home-banner-wrapper">
  <div class="word word-1">
    <div class="panel g"></div>
    <div class="panel a-1"></div>
    <div class="panel b"></div>
    <div class="panel r"></div>
    <div class="panel i-1"></div>
    <div class="panel e"></div>
    <div class="panel l"></div>
  </div>

  <div class="word word-2">
    <div class="panel v"></div>
    <div class="panel o"></div>
    <div class="panel i-2"></div>
    <div class="panel c"></div>
    <div class="panel a-2"></div>
  </div>

  <h3 style="z-index: 30" class="banner-text">Web Developer</h3>

</div>
