


.home-banner-wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    height: 1000px;
    width: 100vw;
    position: absolute;
    top: -400px;
    left: -50px;
    transform: skewY(-20deg);
    animation: animate-gradient 10s forwards infinite;
    background: var(--home-banner-color)

  }

  .banner-text {
    margin-left: 20px;
    font-size: 50px;
    color: var(--text-color);
    text-shadow: 6px 8px var(--panel-shadow-color);
    margin-bottom: 20px;
  }


  .word {
    display: flex;
  }

  .word-1 {
    .panel {
      transition: 0.6s all ease-in-out;
      animation: text-animation 2s forwards ease-in-out;
      animation-delay: var(--delay);
      color: var(--text-color);

      &:hover {
        transform: scaleY(0.7) scaleX(1.1);
        color: var(--text-color-secondary) !important;
      }
    }
  }
  .word-2 {
    .panel {
      transition: 0.8s all;
      animation: text-animation-2 2s forwards;
      animation-delay: var(--delay);

      &:hover {
        transform: scaleY(0.7) scaleX(1.1);
        color: var(--text-color-secondary) !important;
      }
    }
  }

  .panel {
    width: fit-content;
    height: 100%;
    overflow: hidden;
    font-size: 130px;
    color: var(--text-color);
    position: relative;

    &.l {
      margin-right: 40px;
    }

    &:before {
      position: relative;
    }

    &.g:before {
      content: "G" !important;
    }

    &.a-1:before {
      content: "a" !important;
    }
    &.b:before {
      content: "b" !important;
    }
    &.r:before {
      content: "r" !important;
    }
    &.i-1:before {
      content: "i" !important;
    }
    &.e:before {
      content: "e" !important;
    }
    &.l:before {
      content: "l" !important;
    }
    &.v:before {
      content: "V" !important;
    }
    &.o:before {
      content: "o" !important;
    }
    &.i-2:before {
      content: "i" !important;
    }
    &.c:before {
      content: "c" !important;
    }
    &.a-2:before {
      content: "a" !important;
    }
  }
}




.word-2 {
  position: relative;
  bottom: 40px;
}

@for $i from 0 to 12 {
  .panel:nth-of-type(#{$i + 1}) {
    --delay: #{$i * 0.1s};
  }
}

@keyframes text-animation {
  0% {
    color: var(--text-color);
  }

  50% {
     color: var(--text-color-secondary);
    text-shadow: none;
  }

  100% {
    color: var(--text-color);
    text-shadow: 4px 10px var(--panel-shadow-color);
  }
}

@keyframes text-animation-2 {
  0% {
    color: var(--text-color);
  }

  50% {
    color: var(--text-color-secondary);
    text-shadow: none;
  }

  100% {
    color: var(--text-color);
    text-shadow: 4px 10px var(--panel-shadow-color);
  }
}


